@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: #000000;
    background: url(../image/background.png);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/**/

.profile {
    position: relative;
    background: #e5e5e5;
    padding: 2rem 4rem;
    transition: .5s;
    border-radius: 12px;
}

.profile .toggle label {
    width: 40px;
    height: 40px;
    background: #F4F4F4;
    transition: .5s;
    border-radius: 50%;
}

.profile .toggle {
    position: absolute;
    right: 20px;
}

.profile .toggle label{
    position: relative;
    cursor: pointer;
}

.profile .toggle label::after {
    content: "\f755";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-45%, 5%);
    font-size: 1.4rem;
    transition: .5s;
}

.profile .toggle label input {
    appearance: none;
} 

.profile .title h1 {
    color: #22223b;
    transition: .5s;
    font-weight: 700;
}

.profile .pp {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.profile .pp img {
    width: 150px;
    border-radius: 50%;
    transition: .5s;
    border: 4px solid #fff;
}

.profile .desc p {
    color: #14213d;
    font-size: 1.2rem;
    transition: .5s;
    letter-spacing: 2px;
}

.profile .contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .contact i {
    position: relative;
    color: #fff;
    margin: 1rem .5rem;
    border-radius: 50%;
    background: #111c33;
    font-size: 1.6rem;
    width: 60px;
    height: 60px;
    line-height: 60px;
    z-index: 999;
    transition: .5s;
}

.profile .contact i::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: #000000;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -99;
    transform: scale(0);
    transition: .5s;
}

.profile .contact a:hover i::after {
    transform: scale(1);
}

.profile .toggle label input:checked ~ body {
    background: transparent!important;
}

body.dark {
    background: url(../image/dark-background.png);
}

body.dark .profile {
    background: #001219;
}

body.dark .profile .title h1 {
    color: #3477B4;
}

body.dark .profile .desc p {
    color: #888B97;
}

body.dark .profile .contact i {
    background: #0c1b29;
}

body.dark .profile .contact a:hover i::after {
    background: #ffc400;
}

body.dark .profile .toggle label {
    background: #0c1b29;
}

body.dark .profile .toggle label::after {
    color: #3477B4;
}

body.dark .profile .pp img {
    border: 4px solid #3477B4;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: #000000;
    background: url(../image/background.png);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/**/

.profile {
    position: relative;
    background: #e5e5e5;
    padding: 2rem 4rem;
    transition: .5s;
    border-radius: 12px;
}

.profile .toggle label {
    width: 40px;
    height: 40px;
    background: #F4F4F4;
    transition: .5s;
    border-radius: 50%;
}

.profile .toggle {
    position: absolute;
    right: 20px;
}

.profile .toggle label {
    position: relative;
    cursor: pointer;
}

.profile .toggle label::after {
    content: "\f755";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-45%, 5%);
    font-size: 1.4rem;
    transition: .5s;
}

.profile .toggle label input {
    appearance: none;
}

.profile .title h1 {
    color: #22223b;
    transition: .5s;
    font-weight: 700;
}

.profile .pp {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.profile .pp img {
    width: 150px;
    border-radius: 50%;
    transition: .5s;
    border: 4px solid #fff;
}

.profile .desc p {
    color: #14213d;
    font-size: 1.2rem;
    transition: .5s;
    letter-spacing: 2px;
}

.profile .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile .contact i {
    position: relative;
    color: #fff;
    margin: 1rem .5rem;
    border-radius: 50%;
    background: #111c33;
    font-size: 1.6rem;
    width: 60px;
    height: 60px;
    line-height: 60px;
    z-index: 999;
    transition: .5s;
}

.profile .contact i::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: #000000;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -99;
    transform: scale(0);
    transition: .5s;
}

.profile .contact a:hover i::after {
    transform: scale(1);
}

.profile .toggle label input:checked~body {
    background: transparent !important;
}

body.dark {
    background: url(../image/dark-background.png);
}

body.dark .profile {
    background: #001219;
}

body.dark .profile .title h1 {
    color: #3477B4;
}

body.dark .profile .desc p {
    color: #888B97;
}

body.dark .profile .contact i {
    background: #0c1b29;
}

body.dark .profile .contact a:hover i::after {
    background: #ffc400;
}

body.dark .profile .toggle label {
    background: #0c1b29;
}

body.dark .profile .toggle label::after {
    color: #3477B4;
}

body.dark .profile .pp img {
    border: 4px solid #3477B4;
}


@media screen and (max-width: 380px) {
    .profile .contact i {
        position: relative;
        color: #fff;
        margin: 1rem .5rem;
        border-radius: 50%;
        background: #111c33;
        font-size: 1.4rem;
        width: 50px;
        height: 50px;
        line-height: 50px;
        z-index: 999;
        transition: .5s;
    }
    .profile .contact i::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #000000;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: -99;
        transform: scale(0);
        transition: .5s;
    }
}
